@model DietManagerIdentity.ViewModels.AccountCreatedViewModel

To: @Model.To
From: hehehuehue123@example.com
Subject: DietManager - Account created

<div>
    Your account has been created successfully!<br />
    Here are your credentials:<br />
    <p>Email: @Model.To</p>
    <p>Username: @Model.Username</p>
    <p>Password: @Model.Password</p>

    <h3>Thank you!</h3>
</div>
