.backBtn:hover {
    background-color: darksalmon;
}



.add-patient-label-center {
    text-align: center;
}

.field-validation-error {
    color: firebrick;
    font-weight: bold;
}

    .field-validation-error span {
        display: block;
        margin-bottom: 10px;
    }


body {
    color: #555555;
    padding: 0;
}

.card-container.card {
    max-width: 350px;
    padding: 40px 40px;
}

.card-container.add-patient-card {
    max-width: 600px;
    padding: 30px 30px;
}

.add-patient-label {
    padding: 10px;
    letter-spacing: 1.5px;
    font-size: 17px;
}

/*
 * Card component
 */
.card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    box-shadow: 0 0 3px black;
}

.add-patient-card {
    background-color: #F7F7F7;
    /* just in case there no content*/
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    box-shadow: 0 0 3px #000000;
}

.profile-img-card {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/*
 * Form styles
 */
.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin #inputLogin,
.form-signin #inputPassword {
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin #custom-input {
    direction: ltr;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin input[type=number],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin .form-control:focus {
    border-color: rgb(104, 145, 162);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px #000000,0 0 8px rgb(104, 145, 162);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px #000000,0 0 8px rgb(104, 145, 162);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgb(104, 145, 162);
}

.btn.btn-signin {
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btns-nav {
    margin-top: 20px;
}

.btn.btn-back {
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(12, 97, 33);
}

.btn.btn-back:hover,
.btn.btn-back:active,
.btn.btn-back:focus {
    background-color: rgb(250, 97, 50);
}

.manage-patient-diet-bar {
    background-color: #F7F7F7;
    box-shadow: 0 0 3px black;
    padding-bottom: 20px;
}

.manage-diet-bar {
    background-color: #F7F7F7;
    box-shadow: 0 0 3px black;
    padding-bottom: 20px;
}

.all-diets-bar {
    background-color: #F7F7F7;
    box-shadow: 0 0 3px black;
    padding-bottom: 20px;
}

.all-patients-bar {
    background-color: #F7F7F7;
    box-shadow: 0 0 3px black;
    padding-bottom: 20px;
}

.manage-patient-weight-info-cell {
    width: 49%;
    margin-top: 20px;
}

.diet-add-meal-cell {
    margin-top: 20px;
}

.manage-patient-right-cell {
    margin-left: 11px;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.manage-patient-left-cell {
    margin-right: 12px;
    padding-top: 45px;
    padding-bottom: 45px;
}

.manage-patient-bottom-cell {
    margin-top: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.manage-patient-submit {
    width: 20%;
    float: right;
    margin-right: 15px;
}

.manage-patient-back {
    padding-top: 8px;
    width: 20%;
    float: right;
}

.manage-diet-grid {
    background-color: #F7F7F7;
    box-shadow: 0 0 3px black;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.all-diets-grid {
    background-color: #F7F7F7;
    box-shadow: 0 0 3px black;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.all-patients-grid {
    background-color: #F7F7F7;
    box-shadow: 0 0 3px black;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#logoff-btn {
    display: block;
    padding: 3px 20px;
    text-decoration: none;
    color: #333;
}

    #logoff-btn:hover {
        background-color: #f5f5f5;
    }

.meal-info-partial-message {
    text-align: center;
    margin-bottom: 30px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 0px 0px 4px black;
    font-size: 40px;
    color: white;
    margin-top: 10px;
}

.meal-info-label {
    font-weight: bold;
    font-size: 1.5em;
}

.meal-info-property-row {
    margin-bottom: 20px;
    text-align: center;
}

.meal-draggable {
    text-align: center;
    box-shadow: 0px 0px 2px black;
    background-color: #F7F7F7;
    margin: 10px;
    list-style-type: none;
}

    .meal-draggable:hover {
        box-shadow: 0px 0px 4px black;
    }