@{
    ViewBag.Title = "Home Page";
}
<h2>@ViewBag.Message</h2>
<p>
    <input type="button" value="Pobierz dane" id="przycisk1" />
    <div id="MealList">
    </div>

    <script type="text/javascript">
        $(document).ready(function() {
            $("#przycisk1").click(function() {
                $.ajax({
                    url: '@Url.Action("GetMealList")',
                    cache: false,
                    dataType: "JSON",
                    success: function(data) {
                        $.each(data,
                            function(i, item) {
                                $("#MealList").append("<h3>" + item.Id + " " + item.Name + "</h3>");
                            });
                    }
                });
                return false;
            });
        });
    </script>
</p>