@using Kendo.Mvc.UI;

@model List<DietManagerIdentity.Models.Patient>
@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Test</h2>

@(Html.Kendo().DatePicker().Name("datepicker"))



