@using Kendo.Mvc.UI;

@model List<DietManagerIdentity.Models.Dietician>

<div class="col-md-12 all-patients-bar">
    <div>
        <h2>List of dieticians</h2>
    </div>
    <div>
        @Html.ActionLink("Add a new dietician", "Add", "Dietician", null, new { @class = "k-button" })
    </div>
</div>

<div class="col-md-12 all-patients-grid">
    @(Html.Kendo().Grid(Model)
                  .Name("Grid")
                  .ToolBar(toolbar =>
                  {
                      toolbar.Template(
                        @<text>
                            <input type="search" id="searchbox" class="k-textbox" placeholder="Find a patient" />
                            <b>To see a result, press ENTER</b>
                        </text>
                            );
                        })
                        .Columns(c =>
                        {
                            c.Bound(item => item.FullName).HtmlAttributes(new { style = "text-align: center;" });
                            c.Bound(item => item.Patients.Count).Title("Count of patients").HtmlAttributes(new { style = "text-align: center;" });
                            c.Bound(null).Template(@<text>@Html.ActionLink("Remove", "Remove", new { id = item.Id },
                                new { @class = "btn btn-warning" })</text>).HtmlAttributes(new { style = "text-align: center;" });
                        })
                        .Sortable()
    )
</div>



<script>
    function addUser() {
        $.ajax({
            url: '/Account/Add',
            data: {},
            success: function (result) {
                if (result) {
                    $('body').html(result);
                }
            }
        });
    }
</script>


<script type="text/javascript">
    $(document).ready(function () {
        //change event
        $("#searchbox").on('keyup', (function (e) {

            if (e.keyCode === 13) {
                var val = $('#searchbox').val();
                $("#Grid").data("kendoGrid").dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "FullName",
                            operator: "contains",
                            value: val
                        }
                    ]
                });
            }
        }));
    });

</script>