@using Kendo.Mvc.UI;

@model List<DietManagerIdentity.Models.Patient>

@{
    ViewBag.Title = "Patients";
}

<div class="col-md-12 all-patients-bar">
    <div>
        <h2>Your patients</h2>
    </div>
    <div>
        @Html.ActionLink("Add a new patient", "Add", "Patient", null, new { @class = "k-button" })
    </div>
</div>



<div class="col-md-12 all-patients-grid">
    @(Html.Kendo().Grid(Model)
                  .Name("Grid")
                  .ToolBar(toolbar =>
                  {
                      toolbar.Template(
                        @<text>
                            <input type="search" id="searchbox" class="k-textbox" placeholder="Find a patient" />
                            <b>To see a result, press ENTER</b>
                        </text>
                                );
                        })
                        .Columns(c =>
                        {
                            c.Bound(o => o.FullName).HtmlAttributes(new { style = "text-align: center;" });
                            c.Bound(o => o.DateOfAddition).HtmlAttributes(new { style = "text-align: center;" });
                            c.Bound(o => o.DietLength).HtmlAttributes(new { style = "text-align: center;" });
                            c.Bound(o => o.NumberOfConsultation).HtmlAttributes(new { style = "text-align: center;" });
                            c.Bound(o => o.PlannedWeight).HtmlAttributes(new { style = "text-align: center;" });
                            c.Bound(o => o.Diet.Name).HtmlAttributes(new { style = "text-align: center;" });
                //Aby znaleźć to gwno spędziłem cały dzień na poszukiwaniach o.O
                c.Bound(null).Template(@<text>@Html.ActionLink("Zarządzaj", "ManagePatient", "Patient",
                                         new { id = item.Id }, new { @class = "btn btn-info" })</text>)
                            .HtmlAttributes(new { style = "text-align: center;" });

                    })
                    .Sortable()
    )
</div>


<script type="text/javascript">
    $(document).ready(function () {
        //change event
        $("#searchbox").on('keyup', (function (e) {

            if (e.keyCode == 13) {
                var val = $('#searchbox').val();
                $("#Grid").data("kendoGrid").dataSource.filter({
                    logic: "or",
                    filters: [
                        {
                            field: "FullName",
                            operator: "contains",
                            value: val
                        }
                    ]
                });
            }
        }));
    });

</script>